In [2]:
# exception handling
# unwated condition / logic => incorrect
# terminate, interrupt

In [10]:
print("hey")
x = 10
print(y) # try block

hey

NameError: name 'y' is not defined

In [28]:
try:
    print("hey")
    x = 10
    print(y)
except:
    print("Error will be handle")

hey
Error will be handle

In [30]:
"hey"[5] # index error

IndexError: string index out of range

In [32]:
10/0 # arthmatik error ya zero error

ZeroDivisionError: division by zero

In [34]:
10+"a" # type error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
try:
    print("hey")
    x = 10
    print(y)
    print("$$$")
    
except:
    print("Error will be handle")

hey
Error will be handle

In [48]:
try:
    print("hey")
    x = 10
    print(y)
    
except NameError:
    print("Error will be handle")

hey
Error will be handle

In [52]:
try:
    print("hey")
    x = 10
    print(x/0)
    
except NameError:
    print("Error will be handle")

except ZeroDivisionError:
    print("Zero division")

hey
Zero division

In [56]:
try:
    print("hey")
    x = 10
    print(uu)
    print("$$")
    
except NameError:
    print("Error will be handle")

except ZeroDivisionError:
    print("Zero division")

hey
Error will be handle

In [62]:
try:
    print("hey")
    x = 10
    print(uu)
    print("$$")
    
except (NameError,ZeroDivisionError):
    print("Error will be handle")

hey
Error will be handle

In [68]:
try:
    print("hey")
    x = 10
    print(uu)
    print("$$")
    
except (NameError,ZeroDivisionError) as x: # error ka name bhi print hoga
    print("Error will be handle: ",x)

hey
Error will be handle:  name 'uu' is not defined

In [74]:
# nested try except
try:
    print("hey")
    try:
        print(uu)
    except:
        print("Nasted try statement error handle")
    print("$$")
    
except (NameError,ZeroDivisionError) as x:
    print("Error will be handle: ",x)

hey
Nasted try statement error handle
$$

In [80]:
try:
    print("hey")
    print("isha")
    print("$$$")
    
except:
    print("Error will be handle") # if no error in try block else: block chlega
else:  
    print("this is else block")   # try main error hai to else: block nhi chlega

hey
isha
$$$
this is else block

In [84]:
try:
    print("hey")
    print("isha")
    print("$$$")
    
except:
    print("Error will be handle")
finally:
    print("this is finally block")# try main error hai to bhi chlega or nhi hai to bhi chlega

hey
isha
$$$
this is finally block

In [86]:
# raise keyword => kese bhi error ko genret karte hai

In [90]:
age = int(input("ente age:"))
try:
    if(age<18):
        raise ValueError
    else:
        print("Age is > 18 and can vote")
except ValueError:
    print("Error for age less than 18")

ente age: 18

Age is > 18 and can vote

In [92]:
# couman seperta value csv file
# 10,aman,aman@gmail.com
# 20,tushar,tushar@gmail.com

In [94]:
with open("regex1.txt","r") as f:
    for line in f:
        print(line)

10,aman,aman@gmail.com

20,tushar,tushar@gmail.com

In [96]:
"10,aman,aman@gmail.com".split(",")

['10', 'aman', 'aman@gmail.com']

In [102]:
with open("regex1.txt","r") as f:
    for line in f:
        print(line.split(",")) # split method jab hi lagte hai to data list main milega

['10', 'aman', 'aman@gmail.com\n']
['20', 'tushar', 'tushar@gmail.com']

In [104]:
with open("regex1.txt","r") as f:
    for line in f:
        print(line.split(","))

['10', 'aman', 'aman@gmail.com\n']
['20', 'tushar', 'tushar@gmail.com']

In [108]:
# lsit ki valu ko string main lena chte hai to 
# "".join() se hoga
y = ['20', 'tushar', 'tushar@gmail.com']
"-".join(y)

'20-tushar-tushar@gmail.com'

In [110]:
with open("regex1.txt","r") as f:
    for line in f:
        print(line.strip().split(","))

['10', 'aman', 'aman@gmail.com']
['20', 'tushar', 'tushar@gmail.com']

In [112]:
with open("regex1.txt","r") as f:
    for line in f:
        for word in line.strip().split(","):
            print(word)

10
aman
aman@gmail.com
20
tushar
tushar@gmail.com

In [118]:
# reading the csv file
with open("regex1.txt","r") as f:
    for line in f:
        mylist=line.strip().split(",")
        print(f"Id is", mylist[0], "Email is", mylist[2])

Id is 10 Email is aman@gmail.com
Id is 20 Email is tushar@gmail.com

In [120]:
import csv
with open("regex1.txt","r") as f:
    f_csv = csv.reader(f)
    for x in f_csv:
        print(f"Id is", x[0], "Email is", x[2])

Id is 10 Email is aman@gmail.com
Id is 20 Email is tushar@gmail.com

In [124]:
# list, dicionay, string, set

In [126]:
# string palindrome
# string symmetric
# string split & join
# valid parntias
# 
# list find the highest and second highest
# 2 sum problems

# interview => list vs list comphrehension

In [ ]:
# classes and objecs
# what are oops concepts
# YouTube => Corey Schafer