In [2]:
def employee(id,name,email):
    print(f"Id:{id} name:{name} email:{email}")

In [4]:
employee(10,"tushar","tushar@gmail.com")

Id:10 name:tushar email:tushar@gmail.com

In [6]:
# variable length argument

In [14]:
# variable length argument
def employee(*var):  # *args # asper the user input
    print(var, type(var))

employee()
employee(10,20)
employee(10,20,"tushar","amanjangid2010@gmail.com")

() <class 'tuple'>
(10, 20) <class 'tuple'>
(10, 20, 'tushar', 'amanjangid2010@gmail.com') <class 'tuple'>

In [24]:
# keyword variable length argument **kwargs
def employee(**var):
    print(var, type(var))

employee()
employee(ids=10, salary=20)
employee(ids=10,salary=20,name="tushar",email="amanjangid2010@gmail.com")

{} <class 'dict'>
{'ids': 10, 'salary': 20} <class 'dict'>
{'ids': 10, 'salary': 20, 'name': 'tushar', 'email': 'amanjangid2010@gmail.com'} <class 'dict'>

In [26]:
# return keyword in function

In [54]:
def birthday(amount):
    print("amount is:",amount)

In [56]:
birthday(100)

amount is: 100

In [52]:
# print statment chalate hai tab kuch bhi nhi milta None miltah hai

In [58]:
print(birthday(100))

amount is: 100
None

In [62]:
out=birthday(100)
print(out)

amount is: 100
None

In [72]:
def investment(amount):
    print(amount*10)

In [78]:
account=investment(1000)
print(account)

10000
None

In [80]:
def investment(amount):
    print(amount*10)
    return 50

In [88]:
account=investment(1000)
print("account:",account)

10000
account: 50

In [90]:
def investment(amount):
    return amount*10

In [96]:
account=investment(4)
print("account:",account)

account: 40

In [98]:
# return jab bhi aap ne likh diya to kuch fark nhi padt
# return aap ko function se bhar liya ta hai

In [100]:
def investment(amount):
    return amount*10
    print("dfjhd")

In [102]:
account=investment(4)
print("account:",account)

account: 40

In [106]:
x= 20
if(x%2==0):
    print(True)
else:
    print(False)

True

In [114]:
def func():
    x= 20
    if(x%2==0):
        print(True)
    else:
        print(False)

In [118]:
func()

True

In [120]:
def func(x):
    if(x%2==0):
        print(True)
    else:
        print(False)

In [126]:
func(21)

False

In [130]:
def func(x):
    if(x%2==0):
        return(True)
    else:
        return(False)

In [136]:
output=func(20)
print("Output", output)

Output True

In [138]:
# ek funct avrage marks k name se jiske andar 5 subject k marks milenge
# hume un marks ka avarge chaeck karna hai print karna hai avarge ki value

In [144]:
total = 0
marks=[77,88,40,90,50]
for i in range(0,len(marks)):
    total=marks[i]+total
    avg=total/len(marks)
print("total=>",avg)

total=> 69.0

In [150]:
def avg_marks(a,b,c,d,e):
    return(a+b+c+d+e/5)

In [154]:
out=avg_marks(50,60,70,80,90)
print("Output:",out)

Output: 278.0

In [156]:
def avg_marks(a,b,c,d,e):
    return(a+b+c+d+e/5)

In [160]:
out=avg_marks(50,60,70,80,90)
print("Output:",out)

if(out>300):
    print("He is topper with",out)
else:
    print("He is a passed candidate with avg", out)

Output: 278.0
He is a passed candidate with avg 278.0

In [162]:
#about wthar a strin palandrom or not

In [180]:
data = "saras"
index = 0
a = 0
last = len(data)-1
while(index < last):
    if(data[index]!=data[last]):
        a =z+1
        break
    index=index+1
    last-=1
if(z==1):
    print("not palindrome")
else:
    print("palindrome")

palindrome

In [192]:
def func(data):
    data
    index = 0
    a = 0
    last = len(data)-1
    while(index < last):
        if(data[index]!=data[last]):
            a =z+1
            break
        index=index+1
        last-=1
    if(z==1):
        print("not palindrome")
    else:
        print("palindrome")

In [196]:
func("aman")

palindrome

In [202]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print()
for i in range(1,5):
    for j in range(i,5):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [218]:
num = int(input("enter any number"))
num2 = int(input("enter any number"))
for i in range(1,num):
    for j in range(1,i+1):
        print("*",end=" ")
    print()
for i in range(1,num2):
    for j in range(i,5):
        print("*",end=" ")
    print()

enter any number 6
enter any number 6

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [250]:
def hello(num,num2):
    
    for i in range(1,num):
        for j in range(1,i+1):
            print("*",end=" ")
        print()
    for i in range(1,num2):
        for j in range(i,5):
            print("*",end=" ")
        print()

In [252]:
hello(7,7)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * *
* * *
* *
*

In [258]:
def hello(num):
    
    for i in range(1,num+1):
        for j in range(1,i+1):
            print("*",end=" ")
        print()
    for i in range(1,num):
        for j in range(i,num):
            print("*",end=" ")
        print()

In [260]:
hello(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [266]:
def func():
    print("hey")

func # memmory addresh

In [276]:
# First class functions
def func():
    print("hey")

print(func)
x=func
print("x:",x)

<function func at 0x0000021D8D0277E0>
x: <function func at 0x0000021D8D0277E0>

In [278]:
x()

hey

In [280]:
func()

hey

In [282]:
# First class function vs High order function
# intrview Topic
# Valid anagram
# two sum two