In [4]:
# list 
# mutuable
# index postition

mylist=[10,20,30]
for i in mylist:
    print(i)

10
20
30

In [6]:
for i in range(0,len(mylist)):
    print(i,mylist[i])

0 10
1 20
2 30

In [12]:
maxi = 0
mylist=[10,88,20,30]

for i in range(0,len(mylist)):
    if(mylist[i]>maxi):
        maxi=mylist[i]
print(maxi)

88

In [24]:
maxi = 0
smaxi = 0
mylist=[10,20,30,88]

for i in range(0,len(mylist)):
    if(mylist[i]>maxi):
        smaxi=maxi
        maxi=mylist[i]
        print("second",smaxi, "Max:",maxi)
print(maxi)

second 0 Max: 10
second 10 Max: 20
second 20 Max: 30
second 30 Max: 88
88

In [34]:
maxi = 0
smaxi = 0
mylist=[10,20,88,30]

for i in range(0,len(mylist)):
    if(mylist[i]>maxi):
        smaxi=maxi
        maxi=mylist[i]
        
    elif(mylist[i]>smaxi):
        smaxi=mylist[i]
        
print(maxi, smaxi)

88 30

In [40]:
data = [10,20,30,40,10]

for i in range(0,len(data)):
    print(data[i])

    for j in range(0,len(data)):
        print(data[i], data[j])

10
10 10
10 20
10 30
10 40
10 10
20
20 10
20 20
20 30
20 40
20 10
30
30 10
30 20
30 30
30 40
30 10
40
40 10
40 20
40 30
40 40
40 10
10
10 10
10 20
10 30
10 40
10 10

In [50]:
data = [10,20,30,40,10]

for i in range(0,len(data)):
    print(data[i])

    for j in range(i+1,len(data)):
        print(data[i], data[j])

10
10 20
10 30
10 40
10 10
20
20 30
20 40
20 10
30
30 40
30 10
40
40 10
10

In [68]:
data = [10,20,30,40,10]

for i in range(0,len(data)):
    

    for j in range(i+1,len(data)):
        if(data[i]==data[j]):
            print("Duplicate element",data[i])

Duplicate element 10

In [80]:
mylist = [10,20,30,40,10]
total = 0
target = 60

for i in range(0,len(mylist)):

    for j in range(i+1,len(data)):
        total = mylist[i] + mylist[j]
print(total)

50

In [82]:
data = [10, 20, 30, 40, 10]
target = 60

for i in range(0,len(data)):

    for j in range(i + 1, len(data)):
        if data[i] + data[j] == target:
            print("combination", data[i], data[j])

combination 20 40

In [84]:
# tuple
# datatype, collect
# immutable
# index, position

In [86]:
x = 10,201,2,3
print(type(x))

<class 'tuple'>

In [90]:
x = (10,201,2,3)
print(type(x))

<class 'tuple'>

In [96]:
mytuple = (10,20,"hey")
mytuple[0]

10

In [98]:
mytuple = (10,20,"hey")
mytuple[0] = 121212 # tuple main update nhi kar skte
# count, index do he function aate hai

TypeError: 'tuple' object does not support item assignment

In [102]:
# Dictionary (data type)
#key and value pair
# key=> unique 
# value => unique or duplicate
#{key: value}
#{89651:["name",+95623] }
# dictionay index pr kaam nhi karti hai key par he kaam karti hair

In [106]:
aadhar={101:"aman", 102:"tushar", 103:"tushar"}

In [110]:
aadhar

{101: 'aman', 102: 'tushar', 103: 'tushar'}

In [114]:
aadhar[101]

'aman'

In [118]:
aadhar={101:"aman", 102:"tushar", 103:"tushar"}
aadhar[103]="yash" # update

aadhar

{101: 'aman', 102: 'tushar', 103: 'yash'}

In [124]:
aadhar={101:"aman", 102:"tushar", 103:"tushar"}
aadhar[103]="yash"   # update
aadhar[1100]="shyam" # insert

aadhar

{101: 'aman', 102: 'tushar', 103: 'yash', 1100: 'shyam'}

In [130]:
marks = {1:10, 2:85, 3:31}
marks[3]+5 # 31+5
print(marks)

{1: 10, 2: 85, 3: 31}

In [136]:
marks = {1:10, 2:85, 3:31}
marks[3]=marks[3]+5 # marks[3] +=5
print(marks)

{1: 10, 2: 85, 3: 36}

In [156]:
mycount={100:0}

for i in range(1,10):
    mycount[100]+=i
print(mycount)

{100: 45}

In [170]:
mycount={100:0}
count = 0  
for i in range(56, 99):
    count+=1 

mycount[100] = count 
print(mycount)

{100: 43}

In [193]:
mychar = {"total":0}
data="rhytm bde"

for i in range(0,len(data)):
    #print(i)
    mychar["total"]=mychar["total"]+1
print(mychar)

{'total': 9}

In [ ]:
# list comprehension
# zip vs enumerate function