In [4]:
for i in range(1,5):
    for j in range(i,4):
        print("-",end=" ")
    print()

- - -
- -
-

In [26]:
for i in range(1,5):
    for j in range(i,4):
        print(" ",end="")
    for k in range(1,i+1):
        print("*",end=" ")
    print()

   *
  * *
 * * *
* * * *

In [28]:
for i in range(1,5):
    for j in range(1,i):
        print(" ",end="")
    for k in range(i,5):
        print("*",end=" ")
    print()

* * * *
 * * *
  * *
   *

In [61]:
num=5
count = 2
for i in range(1,num+1):
    for j in range(i,num):
        print("-",end=" ")
    for k in range(1,count):
        print("*",end=" ")

    count+=2
    print("")

- - - - *
- - - * * *
- - * * * * *
- * * * * * * *
* * * * * * * * *

In [65]:
num=5
for i in range(1,num+1):
    for j in range(i,num):
        print("-",end=" ")
    for k in range(1,2*i):
        print("*",end=" ")

    print("")

- - - - *
- - - * * *
- - * * * * *
- * * * * * * *
* * * * * * * * *

In [97]:
num=5
count=num*2
for i in range(1,num+1):
    for j in range(1,i):
        print("-",end="")
    for k in range(1,count):
        print("*",end="")
    
    count-=2
    print()

*********
-*******
--*****
---***
----*

In [99]:
# list 
# collect multiple value together
# , 
# mutuable => value change kr sakte ho

In [103]:
marks=[10,55.0,90,87.6]
type(marks)

list

In [105]:
# index position data access
marks[0]

10

In [109]:
marks=[10,55.0,90,87.6]
marks[0:3]

[10, 55.0, 90]

In [115]:
marks=[10,55.0,90,87.6]
marks[0] = 30 # update the value of list
print(marks)

[30, 55.0, 90, 87.6]

In [119]:
# error
marks=[10,55.0,90,87.6]
marks[10] = 30 # update the value of list
print(marks)

IndexError: list assignment index out of range

In [123]:
marks=[10,55.0,90,87.6]
marks.append("hey") # append koi bhi data add karne ke kaam aata hai and ye last main add karta hai
print(marks)

[10, 55.0, 90, 87.6, 'hey']

In [127]:
marks=[10,55.0,90,87.6]
marks.extend("hey") # extend (iterable) 
print(marks)

[10, 55.0, 90, 87.6, 'h', 'e', 'y']

In [133]:
marks=[10,55.0,90,87.6]
marks.extend("hey")
marks.extend([100,'hi'])
print(marks)

[10, 55.0, 90, 87.6, 'h', 'e', 'y', 100, 'hi']

In [137]:
marks=[10,55.0,90,87.6]
marks.insert(0,55)
print(marks)

[55, 10, 55.0, 90, 87.6]

In [143]:
marks=[10,55.0,90,87.6] # iska use nhi karte hai
marks.insert(2,99)
print(marks)

[10, 55.0, 99, 90, 87.6]

In [145]:
marks=[10,55.0,90,87.6]
marks.pop() # last wale data ko delete karta hai
print(marks)

[10, 55.0, 90]

In [155]:
marks=[10,55.0,90,87.6]
x = marks.pop() # data delete karta hai and value ko waphis bhi dega
print(marks,x)

[10, 55.0, 90] 87.6

In [159]:
marks=[10,55.0,90,87.6]
marks.sort()
print(marks)

[10, 55.0, 87.6, 90]

In [161]:
for i in "hello":
    print(i)

h
e
l
l
o

In [169]:
data="hello"
for i in range(0,len(data)):
    print(i,data[i])

0 h
1 e
2 l
3 l
4 o

In [173]:
data =[10,20,30,"hey",90]
for i in range(0,len(data)):
    print(i, data[i])

0 10
1 20
2 30
3 hey
4 90

In [181]:
data =[10,20,30,90,500]
target=50
for i in range(0,len(data)):
    print(data[i])

10
20
30
90
500

In [187]:
data =[10,20,30,90,500]
target=50
for i in range(0,len(data)):
    if(data[i]>target):
        print(data[i])

90
500

In [212]:
data =[10,20,30,90,500]
target=50
for i in range(0,len(data)):
    if(data[i]>target):
        data[i]="hey"
print(data)

[10, 20, 30, 'hey', 'hey']

In [265]:
data =[10,20,30,90,5]
maxi = 0
for i in range(0,len(data)):
    
    if(data[i]>maxi):
        maxi = data[i]
print(maxi)

90

In [267]:
# find out the total of of a list
# find the average of the list
# list middle position
# second highest from the list

# tupple 
# problem solving on lsit