In [2]:
# call by value and call by reference

In [10]:
x= 10
print(id(x))

140733749209816

In [14]:
a = x
print(id(a))

140733749209816

In [16]:
age = 18
newage=age
print(id(age),id(newage))

140733749210072 140733749210072

In [20]:
# mutable and immutable

In [22]:
# ager python main same memory address main koi change ho rha mutable
# new memory address creat ho rha tha immutable

In [24]:
x = 90
a = x
print(id(x),id(a))

140733749212376 140733749212376

In [26]:
x = 90
a = x
print(id(x),id(a))
x = 12
print("after",id(x),id(a))

140733749212376 140733749212376
after 140733749209880 140733749212376

In [38]:
#immutable = float int, strig, tupple

In [40]:
#mutable = dectiony ,list set

In [46]:
x = 10
a = 10
# dono ka memory address same mily ga
# 0 se 256 tak same memory address same rhy ga
# 256 k baad memory address change ho jaye ga
print(id(x),id(a))

140733749209816 140733749209816

In [50]:
# if - else statement
# datatype
# arithmetic, comparison, logical, assignment, membership

In [52]:
# slicing and indexing

In [56]:
# for loop
# loops=> repetitive task

In [60]:
# for(i=0,i<condition; i++) # c language main
# range(0,5) = number lega or value generate kary ga

In [64]:
#for i in# opratir hai

In [68]:
for i in range(0,5):
    print("hey")

hey
hey
hey
hey
hey

In [72]:
for i in range(0,5):
    print("hey",i)

hey 0
hey 1
hey 2
hey 3
hey 4

In [76]:
for i in range(2,5):
    print("hey",i)

hey 2
hey 3
hey 4

In [80]:
for x in range(8,3,-1):
    print("hey",x)

hey 8
hey 7
hey 6
hey 5
hey 4

In [84]:
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [92]:
for i in range(20,9,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10

In [98]:
for x in range(2,7):
    if(x%2==0):
        print("even",x)
    else:
        print("odd",x)

even 2
odd 3
even 4
odd 5
even 6

In [108]:
for i in range(2,51):
    if(i%2==0 and i%4==0):
        print(i,end=" ")

4 8 12 16 20 24 28 32 36 40 44 48

In [114]:
for i in range(70,18,-1):
    if(i%2==0 or i%5==0):
        print(i,end=" ")

70 68 66 65 64 62 60 58 56 55 54 52 50 48 46 45 44 42 40 38 36 35 34 32 30 28 26 25 24 22 20

In [126]:
sum = 0
for i in range(2,9):
    print(i)
    sum = sum + i
print("total=>",sum)

2
3
4
5
6
7
8
total=> 35

In [128]:
# get 10 sum value form 90 to 80
# get 10 sum all the odd number 15 to 45

In [150]:
sum =0
for i in range(90,83,-1):
    sum = sum +i
print(sum)

609

In [178]:
sum = 0
for i in range(15,46):
    if(i%2!=0):
        print(i)
        sum = sum + i
print(sum)

15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
480

In [180]:
# now you have 1 to 95 ho bhi numbe 6 se divisible hai unka count chaiye

In [192]:
sum = 0
count = 0
for i in range(1,96):
    if(i%6==0):
        count = count + 1
        print(i)
        sum = sum +i
print("total=>",sum)
print("count=>",count)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
total=> 720
count=> 15

In [196]:
city = "JAIPUR"
for i in city:
    print(i)

J
A
I
P
U
R

In [200]:
for i in "JAIPUR":
    print(i)

J
A
I
P
U
R

In [206]:
city = "JAIPUR"
for i in range(0,6):
    print(i,city[i]) # this is better approach

0 J
1 A
2 I
3 P
4 U
5 R

In [226]:
city = "JAIPUR"
for i in range(0,6):
    if(city[i]=="A" or city[i]=="U"):
        print(i,city[i])

1 A
4 U

In [228]:
#  differecne between == and is operator
# Identity operator revise
# while loop vs for loop