In [23]:
for i in range(1,5):
    x = 1
    for j in range(1,i):
        print(" ",end=" ")

    for k in range(i,5):
        print(x,end=" ")
        x+=1
    print("")

1 2 3 4
  1 2 3
    1 2
      1

In [187]:
for i in range(4,0,-1):
    for j in range(i,4):
        print(" ",end=" ")
    for k in range(i,0,-1):
        print(k,end=" ")
    print("")

4 3 2 1
  3 2 1
    2 1
      1

In [121]:
for i in range(1,5):
    x = 65
    for j in range(1,i):
        print("-",end=" ")
    for k in range(i,6):
        print(chr(x),end=" ")
        x+=1
    print()

A B C D E
  A B C D
    A B C
      A B

In [219]:
num =7
for i in range(1,5):
    for j in range(1,i):
        print(" ",end="")
    for k in range(1,6-i):
        if(i==1 or k==4 or i==k):
            print(num,end=" ")
            num-=1
        else:
            print(" ",end=" ")
    print("")

7 6 5 4
   3

In [223]:
num = 1
for i in range(1,5):
    for j in range(1,6-i):
        if(i==1 or j==1 or i+j==5):
            print(num,end=" ")
            num+=1
        else:
            print(" ",end=" ")
    print()

1 2 3 4
5   6
7 8
9

In [229]:
for i in range(1,6):
    for j in range(1,i+1):
        if(j%2==1):
            print("1",end=" ")
        else:
            print("0",end=" ")
    print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [263]:
for i in range(1,5):
    for j in range(i,4):
        print(" ",end="")
    for k in range(1,i+1):
        print("*",end=" ")
    print()

   *
  * *
 * * *
* * * *

In [261]:
for i in range(1,6):
    for j in range(1,i):
        print(" ",end="")

    for k in range(i,6):
        print("*",end=" ")
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [277]:
for i in range(1,6):
    for j in range(i,5):
        print(" ",end="")
    for k in range(1,i+1):
        print(k,end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [283]:
# Functional approach

In [281]:
for i in range(1,6):
    for j in range(1,i):
        print(" ",end="")
    print("*" * (5-i),end=" ")
    print()

****
 ***
  **
   *

In [285]:
# List
# collction of element
# mutuable ( Change kar skate hai) = memory address change nhi hota

In [289]:
mylist=[10,20,630]
print(mylist[0])

10

In [297]:
mylist=[10,20,630,"hey"]
mylist[0]=100 # update the value
mylist.append(900) # last main insert kare ga
mylist.insert(0,"yash") # no use
print(mylist)

['yash', 100, 20, 630, 'hey', 900]

In [301]:
mylist=[10,20,630,"hey"]
x = mylist.pop() # last element ko delete karta hai
# value ko return bhi karta hai
print(mylist)

[10, 20, 630]

In [303]:
print(x)

hey

In [307]:
mylist=[10,20,630,"hey"]
mylist.remove(20) # value ko return nhi karta hai
print(mylist)

[10, 630, 'hey']

In [309]:
mylist=[10,20,630,"hey"]
mylist.extend# iterable => ase koi bhi data jise par for loop chal skte hai
             # iter name ka function hai jiko bhi iterable bolte hai

In [313]:
mylist=[10,20,630,"hey"]
mylist.extend([10,20,30])
mylist.extend("isha") # multiple kar kar ke add honege
print(mylist)

[10, 20, 630, 'hey', 10, 20, 30, 'i', 's', 'h', 'a']

In [319]:
mylist=[20,30,40,50]
for i in range(0,len(mylist)):
    print(i,mylist[i])

0 20
1 30
2 40
3 50

In [331]:
mylist=[20,30,40,50,41,23]
for i in range(0,len(mylist)):
    if(mylist[i]%2!=0):
        print(mylist[i])

41
23

In [359]:
mylist=[20,30,40,50,41,23]
max1=mylist[0]
for i in range(0,len(mylist)):
    print(mylist[i]>max1)
    mylist[i] = max1
print(max1)

False
True
True
True
True
True
20

In [367]:
mylist=[20,30,40,50,41,23]
for i in range(0,len(mylist)):
    print(mylist[i])
    for j in range(i+1,len(mylist)):
        print("nested",mylist[i], mylist[j])

20
nested 20 30
nested 20 40
nested 20 50
nested 20 41
nested 20 23
30
nested 30 40
nested 30 50
nested 30 41
nested 30 23
40
nested 40 50
nested 40 41
nested 40 23
50
nested 50 41
nested 50 23
41
nested 41 23
23

In [369]:
maxi = 0
mylist=[10,88,20,30]

for i in range(0,len(mylist)):
    if(mylist[i]>maxi):
        maxi=mylist[i]
print(maxi)

88

In [395]:
mylist=[20,30,40,50,41,23]
target = 80
total = 0
for i in range(0,len(mylist)):
    for j in range(i+1,len(mylist)):
        if(mylist[i]+mylist[j]==target):
            print(mylist[i], mylist[j])

30 50