In [2]:
# Local and global
# Variable length and keyword variable

# Variable length arugument

In [4]:
def func(*x):
    print("x=>",x)

In [11]:
func (10,20)
func()
func(10,20,4,5,6) # tuple formate main value aati hai

x=> (10, 20)
x=> ()
x=> (10, 20, 4, 5, 6)

# Key word length argument

In [21]:
def func(**x): # kwargs
    print("x=>",x)

In [23]:
func(age=10,salary=2000)
func()
func(salary=2000,age=10,name="abc") # dictionary format main aaye ga

x=> {'age': 10, 'salary': 2000}
x=> {}
x=> {'salary': 2000, 'age': 10, 'name': 'abc'}

# Return Key Word

In [27]:
def func(x):
    print("x=>",x+10)

In [33]:
out=func(19)
print("out=>",out)

x=> 29
out=> None

In [35]:
def shadi(lifafa):
    print("paise inside =>", lifafa+100)

output=shadi(1000)
print("Output=>",output)

paise inside => 1100
Output=> None

In [37]:
def adding_value(x,y):
    print("value are",x,y)
    c=x+y
    print("c",c)

In [39]:
out=adding_value(15,25)
print(out)

value are 15 25
c 40
None

In [41]:
def adding_value(x,y):
    print("value are",x,y)
    c=x+y
    return c

In [43]:
out=adding_value(15,25)
print(out)

value are 15 25
40

# First Class Functions

In [47]:
# design pattern => multiple different way use
# variable => 
# function as a argument
# function if a function is return
# function in data structure

In [51]:
def func():
    print("hello")

x=func()
print("x=->",x)

hello
x=-> None

In [55]:
def func():
    print("hello")

x=func # function ka memory address milega
print("x=->",x,func)

x=-> <function func at 0x00000178F9459A80> <function func at 0x00000178F9459A80>

In [57]:
x()
func()

hello
hello

In [65]:
def add_two(x,y):
    print(x+y)

def three_number(a,b):
    print("a=>",a, "b=>",b)

out=add_two(10,20)
print(out)

30
None

In [79]:
def add_two(x,y):
    print(x+y)

def three_number(a,b):
    print("a=>",a,"b=>",b)

three_number(10, add_two(2,3))

5
a=> 10 b=> None

In [77]:
def add_two(x,y):
    return (x+y)

def three_number(a,b):
    print("a=>",a,"b=>",b)

three_number(10, add_two(2,3))

a=> 10 b=> 5

In [83]:
def add_two(x,y):
    return (x+y)

def three_number(a,b):
    print("a=>",a,"b=>",b)

three_number(10, add_two)

a=> 10 b=> <function add_two at 0x00000178FBB2B7E0>

In [85]:
def add_two(x,y):
    return (x+y)

def three_number(a,b):
    print("a=>",a,"b=>",b, b(2,3))

three_number(10, add_two)

a=> 10 b=> <function add_two at 0x00000178F9459940> 5

In [91]:
# saar high order function first-class function hote hai
# saar first-class function high order function nhi hote
def add_two(x,y):
    return (x+y)

def three_number(a,b):
    print("a=>",a+ b(2,3))

three_number(10, add_two)

a=> 15