In [2]:
# dictionary?
# key and value
# key: unique, value
# mutuable

In [6]:
mydic= {"userid":10, "name":"aman"}
mydic["userid"]=19
mydic

{'userid': 19, 'name': 'aman'}

In [8]:
mydic= {"userid":10, "name":"aman"}
mydic["salary"]=999
print(mydic)

{'userid': 10, 'name': 'aman', 'salary': 999}

In [10]:
mydic= {"userid":10, "name":"aman","salary":999}
mydic.update({"userid":200, 8888:"isha"})
print(mydic)

{'userid': 200, 'name': 'aman', 'salary': 999, 8888: 'isha'}

In [12]:
mydic= {"userid":10, "name":"aman","salary":999}
mydic.keys()

dict_keys(['userid', 'name', 'salary'])

In [14]:
mydic= {"userid":10, "name":"aman","salary":999}
mydic.values()

dict_values([10, 'aman', 999])

In [16]:
mydic= {"userid":10, "name":"aman","salary":999}
mydic.items() # items method list of tuple value return karta hai

dict_items([('userid', 10), ('name', 'aman'), ('salary', 999)])

In [18]:
# {1:1, 2:1, 3:1.........100:1}

In [28]:
mydic = {}
for i in range(1,51):
    mydic[i]=1

print(mydic)

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1, 11: 1, 12: 1, 13: 1, 14: 1, 15: 1, 16: 1, 17: 1, 18: 1, 19: 1, 20: 1, 21: 1, 22: 1, 23: 1, 24: 1, 25: 1, 26: 1, 27: 1, 28: 1, 29: 1, 30: 1, 31: 1, 32: 1, 33: 1, 34: 1, 35: 1, 36: 1, 37: 1, 38: 1, 39: 1, 40: 1, 41: 1, 42: 1, 43: 1, 44: 1, 45: 1, 46: 1, 47: 1, 48: 1, 49: 1, 50: 1}

In [32]:
mydic = {3:100}
for i in range(1,5):
    if i not in mydic:
        mydic[i]=1

print(mydic)

{3: 100, 1: 1, 2: 1, 4: 1}

In [36]:
mydic = {"salary":100}
mydic["salary"] = mydic["salary"]+5
print(mydic)

{'salary': 105}

In [42]:
mydic = {"count":0}
for i in range(1,10):
    mydic["count"]=mydic["count"]+1
print(mydic)

{'count': 9}

In [44]:
s = "tushar"
#{"t":1,"u":1..."r":1}

In [52]:

mydic={}
for i in "tushar":
    mydic[i]=1

print(mydic)

{'t': 1, 'u': 1, 's': 1, 'h': 1, 'a': 1, 'r': 1}

In [54]:
a = "tushar"
mydic={}
for i in s:
    mydic[i]=1

print(mydic)

{'t': 1, 'u': 1, 's': 1, 'h': 1, 'a': 1, 'r': 1}

In [60]:
s = "tushar"
mydic={"h":5}
for i in range(0, len(s)):
    if(s[i] not in mydic):
        mydic[s[i]]=1

    else:
        mydic[s[i]]=mydic[s[i]]+1
print(mydic)

{'h': 6, 't': 1, 'u': 1, 's': 1, 'a': 1, 'r': 1}

In [80]:
s = "tushar"
mydic={"h":5}
for i in s:
    if (i not in mydic):
        mydic[i]=1

    else:
        mydic[i]=mydic[i]+1
print(mydic)

{'h': 6, 't': 1, 'u': 1, 's': 1, 'a': 1, 'r': 1}

In [82]:
"hey hello tushar hey"

'hey hello tushar hey'

In [98]:
s="hey hello tushar hey"
mydis={}

for word in s.split(" "):
    if word not in mydis:
        mydis[word]=1
    else:
        mydis[word]=mydis[word]+1
print(mydis)

{'hey': 2, 'hello': 1, 'tushar': 1}

In [102]:
mydic = {'hey': 2, 'hello': 1, 'tushar': 1}
for i in mydic:
    print(i, mydic[i])

hey 2
hello 1
tushar 1

In [104]:
mydic = {'hey': 2, 'hello': 1, 'tushar': 1}
for i in mydic.keys():
    print(i, mydic[i])

hey 2
hello 1
tushar 1

In [110]:
mydic = {'hey': 2, 'hello': 1, 'tushar': 1}
for i in mydic.values():
    print(i)

2
1
1

In [122]:
mydic = {'hey': 2, 'hello': 1, 'tushar': 10}
for i in mydic.items():
    print(i, type(i), i[1])

('hey', 2) <class 'tuple'> 2
('hello', 1) <class 'tuple'> 1
('tushar', 10) <class 'tuple'> 10

In [124]:
# ek list hai 
#mylist= [10,20,30,10,10,20]
#kitne time aaya

In [150]:
mylist = [10,20,30,10,10,20]
dic={}
for i in mylist:
    if i not in dic:
        dic[i]=1
    else:
        dic[i]+=1
print(dic)

{10: 3, 20: 2, 30: 1}

In [132]:
s = "tushar"
mydic={"h":5}
for i in range(0, len(s)):
    if(s[i] not in mydic):
        mydic[s[i]]=1

    else:
        mydic[s[i]]=mydic[s[i]]+1
print(mydic)

{'h': 6, 't': 1, 'u': 1, 's': 1, 'a': 1, 'r': 1}

In [142]:
# set 
# {}
# Unique values is store
# set contain only immutable element
# set khud mutable hota hai
# no index position
# koi do set hai pura deta ko combined karna hai unique value rhkhin hai to set use karte hai

In [152]:
myset = {1,2,3,42,2,2,2}
myset.add("hey")
myset.remove(2) # remove error deta hai agar element nhi hai to
myset.discard(1) # ye error nhi deta ager element nhi ho to bhi
myset.pop # ye koi bhi random data ko delete kar dega
myset.update([20,5,78,58]) # update => iterable
print(myset)

{3, 5, 42, 78, 20, 58, 'hey'}

In [154]:
myset={10,20,30}
myset2={30,40,50}
myset.union(myset2)

{10, 20, 30, 40, 50}

In [156]:
myset.intersection(myset2)

{30}

In [160]:
# myset. difference
# intersection
# intersection.update
# issubset
# symmetric_difference

In [162]:
# list compriacison
# dicionary 
# set compriaciosn