In [2]:
# Question 1: Given a list numbers, remove all duplicate values and return the unique elements.

In [4]:
def remove_duplicates(lst):
    return list(set(lst))

numbers = [1,2,3,4,2,3,5,6,5]
print(remove_duplicates(numbers))

[1, 2, 3, 4, 5, 6]

In [6]:
# Question 2 : Given two sets, find the common elements between them.

In [10]:
def common_elements(set1, set2):
    return set1 & set2 # Or use set1.intersection(set2)

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(common_elements(set1, set2))

{4, 5}

In [12]:
# Question 3: Given two sets, find elements that are unique to each set.

In [14]:
def unique_elements(set1, set2):
    return set1 ^ set2 # or use set1.symmetric_difference(set2)

set1 = {1,2,3,4}
set2 = {3,4,5,6}
print(unique_elements(set1,set2))

{1, 2, 5, 6}

In [16]:
# Question 4: Given two sets, return elements that are only in the first set.

In [18]:
def difference(set1, set2):
    return set1 - set2 # or use set1.difference(set2)

set1 = {10,20,30,40,50}
set2 = {30,40,60,70}
print(difference(set1, set2))

{50, 10, 20}

In [20]:
# Question 5 : Given two sets, check if the first set is subset of the second.

In [22]:
def is_subset(set1, set2):
    return set1.issubset(set2)

set1 = {1,2}
set2 = {1,2,3,4,5}
print(is_subset(set1,set2))

True

In [24]:
# Question 6 : Given multiple sets, return a single set that contains all unique elements.

In [26]:
def union_of_sets(*sets):
    return set().union(*sets)

set1 = {1,2,3}
set2 = {3,4,5}
set3 = {5,6,7}
print(union_of_sets(set1,set2,set3))

{1, 2, 3, 4, 5, 6, 7}

In [28]:
# Question 7 : Remove an element from a set safely (without error if it doesn't exist).

In [34]:
def remove_element(s, elem):
    s.discard(elem) # Unlike remove(), discard() won't raise an error if elem is missing.
    return s

my_set = {1,2,3,4}
print(remove_element(my_set, 3)) # {1,2,4}
print(remove_element(my_set, 10)) # No error, returns {1,2,4}

{1, 2, 4}
{1, 2, 4}

In [36]:
# Question 8 : Given a set of numbers, find the largest and smallest values.

In [38]:
def min_max(s):
    return min(s), max(s)

# Example usage
numbers = {5,2,8,3,10}
print(min_max(numbers))

(2, 10)

In [40]:
# Question 9: Given a sentence, count the number of unique words (ignoring case).

In [42]:
def unique_word_count(sentence):
    words = sentence.lower().split()
    return len(set(words))

sentence = "Python is great and Python is easy to learn"
print(unique_word_count(sentence))

7

In [46]:
sentence = "Python is great and Python is easy to learn"
words = sentence.lower().split()
set(words)

{'and', 'easy', 'great', 'is', 'learn', 'python', 'to'}

In [44]:
# Question 10: Given a list of numbers, find the missing numbers in a range.

In [48]:
def missing_numbers(lst, start, end):
    return set(range(start, end + 1)) - set(lst)

numbers = [1,2,4,6,8,9]
print(missing_numbers(numbers, 1,10))

{10, 3, 5, 7}

In [50]:
numbers = [1,2,4,6,8,9]
p = set(range(1,11))
print(p)
q = set(numbers)
print(q)
print(p-q)
print(p&q)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 4, 6, 8, 9}
{10, 3, 5, 7}
{1, 2, 4, 6, 8, 9}